@model IEnumerable<Nomina.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpleadoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpleadoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpleadoID })
        </td>
    </tr>
}

</table>
