@model Nomina.Models.Nomina

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nomina</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmpleadoID, "EmpleadoID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpleadoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmpleadoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiasTrabajados, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiasTrabajados, new { htmlAttributes = new { @class = "form-control", id="DiasTrabajados", onkeyup="mul()" } })
                @Html.ValidationMessageFor(model => model.DiasTrabajados, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SueldoPorDia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SueldoPorDia, new { htmlAttributes = new { @class = "form-control",id="SueldoporDia" ,onkeyup="mul()" } })
                @Html.ValidationMessageFor(model => model.SueldoPorDia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SueldoQuincenal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SueldoQuincenal, new { htmlAttributes = new { @class = "form-control" ,id="SueldoQuincenal" } })
                @Html.ValidationMessageFor(model => model.SueldoQuincenal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">    
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function mul() {
           var SueldoporDia = document.getElementById('SueldoporDia').value;
            
             var dia = document.getElementById('DiasTrabajados').value;
             var mult = SueldoporDia * dia;
            document.getElementById('SueldoQuincenal').value = mult;

        }
    </script>
}